<h1><%= @article.title %></h1>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<% if @article.image.exists? %>
	<%= image_tag @article.image.url %><br/>
<% end %>	
<p><%= @article.body %></p>
<br>
<% if logged_in? %>
<%= link_to "edit", edit_article_path(@article) %>
<br>
<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
 %>
 <br>
 <% if @article.draft? %>
 	<%= link_to "archive",  :controller => "articles", method: :put, :action => "archive", :id => @article %>
 <% else %>
 	<p>Article is archived.</p>
 <% end %>
<br>
 <% end %>
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
 <% if @article.draft? %>
	<br>
	<%= render partial: 'comments/form' %>
	<br>
<% end %>	
<br>
<%= link_to "<< Back to Articles List", articles_path %>
